In [1]:
import os
from tqdm.notebook import tqdm
import gzip
import pandas as pd
import seaborn as sns
import timeit
import json
import matplotlib.pyplot as plt
import numpy as np

# Load Data

In [2]:
DATA_FOLDER = "./"
DATA_SRC1 = DATA_FOLDER + "tweets-1.json"
DATA_SRC2 = DATA_FOLDER + "tweets-2.json"
DATA_SRC3 = DATA_FOLDER + "tweets-3.json"
DATA_SRC4 = DATA_FOLDER + "tweets-4.json"

## Tweets 1/4

In [3]:
data = pd.read_json(DATA_SRC1, lines=True, nrows=100)
data.head()

,id,created_at,source,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,author_name,verified,protected,profile_image_url,author_followers_count,animated_gif_count,photo_count,video_count
0,"{'0': '1588682493833551872', '1': '15886824741...","{'0': 1667606397000, '1': 1667606392000, '2': ...","{'0': 'Twitter for iPhone', '1': 'Twitter Web ...","{'0': 0, '1': 1, '2': 0, '3': 0, '4': 0, '5': ...","{'0': '580633644', '1': '2711676037', '2': '15...",{'0': 'The business of businesses is climate-c...,"{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 1, '4': 1, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...",...,"{'0': 0, '1': 1, '2': 1, '3': 0, '4': 3, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 'Robert Han @RobertHon0911', '1': 'Krish...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 1, '1': 1, '2': 1, '3': 1, '4': 1, '5': ...","{'0': 57, '1': 56, '2': 553, '3': 190, '4': 52...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ..."

In [4]:
data1 = {}
for column in data:
    data1[column] = list(data[column].at[0].values())

data1 = pd.DataFrame(data1)
data1.head()

,id,created_at,source,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,author_name,verified,protected,profile_image_url,author_followers_count,animated_gif_count,photo_count,video_count
0,1588682493833551872,1667606397000,Twitter for iPhone,0,580633644,The business of businesses is climate-change a...,0,0,0,0,...,0,0,Robert Han @RobertHon0911,0,0,1,57,0,0,0
1,1588682474141339649,1667606392000,Twitter Web App,1,2711676037,#howtowrite #howtopublish @authoraid \nA case ...,0,0,0,0,...,1,0,Krishna Koushik @SapiensMyopia,0,0,1,56,0,0,0
2,1588682395393622018,1667606374000,Twitter for iPhone,0,1573331383984226307,"Hundreds of elephants, zebras die as Kenya wea...",0,0,0,0,...,1,0,Nature Chick @EarthBulletin,0,0,1,553,0,0,0
3,1588682374103334912,1667606368000,Twitter for iPhone,0,1674604256,If the free market is the answer to our climat...,0,1,0,0,...,0,0,Nick Yates @nickyatesworld,0,0,1,190,0,0,0
4,1588682360253739009,1667606365000,Twitter for iPhone,0,1144336826133442560,"Tuned in to the local Seattle fake, corrupt, w...",0,1,0,0,...,3,0,greg vanommeren @GregVanommeren,0,0,1,521,0,0,0

## Tweets 2/4

In [5]:
data = pd.read_json(DATA_SRC2, lines=True, nrows=100)
data.head()

,possibly_sensitive,created_at,text,id,author_id,source,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,profile_image_url,author_name,verified,protected,author_followers_count,video_count,animated_gif_count,photo_count
0,"{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 1655240244000, '1': 1655240231000, '2': ...",{'0': 'Nice job Joe! My 401K and those of mil...,"{'0': '1536815090992816139', '1': '15368150332...","{'0': '1352497184198041607', '1': '3040727210'...","{'0': 'Twitter Web App', '1': 'Twitter for iPa...","{'0': 2, '1': 0, '2': 1, '3': 0, '4': 0, '5': ...","{'0': 1, '1': 0, '2': 1, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 1, '2': 0, '3': 0, '4': 0, '5': ...",...,"{'0': 0, '1': 0, '2': 0, '3': 2, '4': 7, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 1, '1': 1, '2': 1, '3': 1, '4': 1, '5': ...","{'0': 'Randy Farang @FarangRandy', '1': 'Wolf ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 5, '1': 899, '2': 586, '3': 301, '4': 10...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 1, '4': 0, '5': ..."

In [6]:
data2 = {}
for column in data:
    data2[column] = list(data[column].at[0].values())

data2 = pd.DataFrame(data2)
data2.head()

,possibly_sensitive,created_at,text,id,author_id,source,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,profile_image_url,author_name,verified,protected,author_followers_count,video_count,animated_gif_count,photo_count
0,0,1655240244000,Nice job Joe! My 401K and those of millions o...,1536815090992816139,1352497184198041607,Twitter Web App,2,1,0,0,...,0,0,1,Randy Farang @FarangRandy,0,0,5,0,0,0
1,0,1655240231000,Why climate change could mean lots of fresh wa...,1536815033237114880,3040727210,Twitter for iPad,0,0,0,1,...,0,0,1,Wolf K Scheuer @WolfkhK,0,0,899,0,0,0
2,0,1655240227000,"UN says it's ""now or never"" to avoid disastrou...",1536815017424723968,1171060831,Twitter Web App,1,1,0,0,...,0,0,1,Adalet Asuman @AdaletAsuman,0,0,586,0,0,0
3,0,1655240223000,95°f but feels like 105°f fuck u global warmin...,1536814999120842753,1523073381519839232,Twitter for iPhone,0,0,0,0,...,2,0,1,tre @fusheart,0,0,301,0,0,1
4,0,1655240217000,1977\nurgency of the problem derives from our ...,1536814973761966080,1459193804918071303,Twitter Web App,0,0,0,0,...,7,0,1,lucy woods @LucyWoodslucy70,0,0,10352,0,0,0

## Tweets 3/4

In [7]:
data = pd.read_json(DATA_SRC3, lines=True, nrows=100)
data.head()

,source,id,author_id,created_at,possibly_sensitive,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,protected,verified,author_name,profile_image_url,author_followers_count,video_count,photo_count,animated_gif_count
0,"{'0': 'Twitter for iPhone', '1': 'Sprout Socia...","{'0': '1468114369066127360', '1': '14681143683...","{'0': '158876399', '1': '942723953143009280', ...","{'0': 1638860716000, '1': 1638860716000, '3': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 0, '6': ...",{'0': 'Thanks 🙏 for your contribution World Co...,"{'0': 1, '1': 2, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 1, '6': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 1, '1': 0, '3': 0, '4': 0, '5': 0, '6': ...",...,"{'0': 0, '1': 4, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 0, '1': 1, '3': 3, '4': 0, '5': 0, '6': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 'Reza Shah @RealEstateSA_PK', '1': 'The ...","{'0': 1, '1': 1, '3': 1, '4': 1, '5': 1, '6': ...","{'0': 3509, '1': 7377, '3': 8581, '4': 61, '5'...","{'0': 0, '1': 1, '3': 0, '4': 0, '5': 0, '6': ...","{'0': 0, '1': 0, '3': 1, '4': 1, '5': 0, '6': ...","{'0': 0, '1': 0, '3': 0, '4': 0, '5': 0, '6': ..."

In [8]:
data3 = {}
for column in data:
    data3[column] = list(data[column].at[0].values())

data3 = pd.DataFrame(data3)
data3.head()

,source,id,author_id,created_at,possibly_sensitive,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,protected,verified,author_name,profile_image_url,author_followers_count,video_count,photo_count,animated_gif_count
0,Twitter for iPhone,1468114369066127360,158876399,1638860716000,0,Thanks 🙏 for your contribution\nWorld Conflict...,1,0,0,1,...,0,0,0,0,Reza Shah @RealEstateSA_PK,1,3509,0,0,0
1,Sprout Social,1468114368327995394,942723953143009280,1638860716000,0,Still time to register for our FREE webinar ht...,2,0,0,0,...,4,1,0,0,The CAMH journal @TheCAMH,1,7377,1,0,0
2,Other,1468114302439759872,104190332,1638860700000,0,Most consumers will 'boycott' brands not actin...,0,0,0,0,...,0,3,0,0,The Media Leader @TheMediaLeader,1,8581,0,1,0
3,Twitter Web App,1468114301596540928,700592709287809025,1638860700000,0,"PR firms such as @KetchumPR, @EdelmanPR, @Webe...",0,0,0,0,...,0,0,0,0,Jay Tyagi @jay7yagi,1,61,0,1,0
4,Twitter for Android,1468114205719109635,1297637700,1638860677000,0,I hope if we educate the incompetent minority ...,0,1,0,0,...,0,0,0,0,felix kwesi sarkodee @felisark121447,1,78,0,0,0

## Tweets 4/4

In [9]:
data = pd.read_json(DATA_SRC4, lines=True, nrows=100)
data.head()

,source,id,created_at,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,protected,author_name,verified,profile_image_url,author_followers_count,photo_count,animated_gif_count,video_count
0,"{'0': 'Twitter for Android', '1': 'Twitter for...","{'0': '1418176262254653442', '1': '14181762543...","{'0': 1626954544000, '1': 1626954542000, '2': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': '1148779294975352832', '1': '1620350286'...",{'0': 'The world needs to fast-track commitmen...,"{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 1, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 1, '3': 0, '4': 0, '5': ...",...,"{'0': 1, '1': 1, '2': 7, '3': 0, '4': 3, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 'Tico Guinessha S @guinessha_17', '1': '...","{'0': 0, '1': 0, '2': 1, '3': 0, '4': 0, '5': ...","{'0': 1, '1': 1, '2': 1, '3': 1, '4': 1, '5': ...","{'0': 653, '1': 292, '2': 6210009, '3': 7, '4'...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ...","{'0': 0, '1': 0, '2': 0, '3': 0, '4': 0, '5': ..."

In [10]:
data4 = {}
for column in data:
    data4[column] = list(data[column].at[0].values())

data4 = pd.DataFrame(data4)
data4.head()

,source,id,created_at,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,protected,author_name,verified,profile_image_url,author_followers_count,photo_count,animated_gif_count,video_count
0,Twitter for Android,1418176262254653442,1626954544000,0,1148779294975352832,The world needs to fast-track commitments to s...,0,0,0,0,...,1,0,0,Tico Guinessha S @guinessha_17,0,1,653,0,0,0
1,Twitter for iPhone,1418176254361182212,1626954542000,0,1620350286,There are alternatives to #FossilFuels !! http...,0,0,0,0,...,1,0,0,Maria Revelles @MariaRRevelles,0,1,292,0,0,0
2,Twitter Web App,1418176243288088581,1626954539000,0,19897138,Amazon Basin is becoming almost neutral in ter...,0,0,0,1,...,7,0,0,IndiaToday @IndiaToday,1,1,6210009,0,0,0
3,Twitter for iPhone,1418176242461904903,1626954539000,0,1026592240980963328,Businesses Leaders: Stop the Climate Crisis #a...,0,0,0,0,...,0,0,0,Paula @sofiarubiano07,0,1,7,0,0,0
4,Twitter for iPhone,1418176236392796162,1626954537000,0,89714083,Safe haven no more -- record shattering heat w...,0,1,0,0,...,3,0,0,Ross Macfarlane @ross_macfarlane,0,1,3856,0,0,0

## Merge data

In [11]:
data = pd.concat([data1, data2, data3, data4], ignore_index=True)
data.head()

,id,created_at,source,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,author_name,verified,protected,profile_image_url,author_followers_count,animated_gif_count,photo_count,video_count
0,1588682493833551872,1667606397000,Twitter for iPhone,0,580633644,The business of businesses is climate-change a...,0,0,0,0,...,0,0,Robert Han @RobertHon0911,0,0,1,57,0,0,0
1,1588682474141339649,1667606392000,Twitter Web App,1,2711676037,#howtowrite #howtopublish @authoraid \nA case ...,0,0,0,0,...,1,0,Krishna Koushik @SapiensMyopia,0,0,1,56,0,0,0
2,1588682395393622018,1667606374000,Twitter for iPhone,0,1573331383984226307,"Hundreds of elephants, zebras die as Kenya wea...",0,0,0,0,...,1,0,Nature Chick @EarthBulletin,0,0,1,553,0,0,0
3,1588682374103334912,1667606368000,Twitter for iPhone,0,1674604256,If the free market is the answer to our climat...,0,1,0,0,...,0,0,Nick Yates @nickyatesworld,0,0,1,190,0,0,0
4,1588682360253739009,1667606365000,Twitter for iPhone,0,1144336826133442560,"Tuned in to the local Seattle fake, corrupt, w...",0,1,0,0,...,3,0,greg vanommeren @GregVanommeren,0,0,1,521,0,0,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7581710 entries, 0 to 7581709
Data columns (total 30 columns):
 #   Column                    Dtype
---  ------                    -----
 0   id                        object
 1   created_at                int64
 2   source                    object
 3   possibly_sensitive        int64
 4   author_id                 object
 5   text                      object
 6   person_annotations        int64
 7   place_annotations         int64
 8   product_annotations       int64
 9   organization_annotations  int64
 10  other_annotations         int64
 11  urls_count                int64
 12  url_image_count           int64
 13  mentions_count            int64
 14  mentions_verifications    int64
 15  mentions_followers        int64
 16  hashtags                  int64
 17  cashtags                  int64
 18  retweet_count             int64
 19  reply_count               int64
 20  like_count                int64
 21  quote_count               int64
 22  author_name               object
 23  verified                  int64
 24  protected                 int64
 25  profile_image_url         int64
 26  author_followers_count    int64
 27  animated_gif_count        int64
 28  photo_count               int64
 29  video_count               int64
dtypes: int64(25), object(5)
memory usage: 1.7+ GB

## Save data

In [13]:
data.to_json("tweets.json")

Let's try to load data to make sure everything is as intended.

In [2]:
data = pd.read_json("tweets.json")
data.head()

,id,created_at,source,possibly_sensitive,author_id,text,person_annotations,place_annotations,product_annotations,organization_annotations,...,like_count,quote_count,author_name,verified,protected,profile_image_url,author_followers_count,animated_gif_count,photo_count,video_count
0,1588682493833551872,2022-11-04 23:59:57,Twitter for iPhone,0,580633644,The business of businesses is climate-change a...,0,0,0,0,...,0,0,Robert Han @RobertHon0911,0,0,1,57,0,0,0
1,1588682474141339648,2022-11-04 23:59:52,Twitter Web App,1,2711676037,#howtowrite #howtopublish @authoraid \nA case ...,0,0,0,0,...,1,0,Krishna Koushik @SapiensMyopia,0,0,1,56,0,0,0
2,1588682395393622016,2022-11-04 23:59:34,Twitter for iPhone,0,1573331383984226304,"Hundreds of elephants, zebras die as Kenya wea...",0,0,0,0,...,1,0,Nature Chick @EarthBulletin,0,0,1,553,0,0,0
3,1588682374103334912,2022-11-04 23:59:28,Twitter for iPhone,0,1674604256,If the free market is the answer to our climat...,0,1,0,0,...,0,0,Nick Yates @nickyatesworld,0,0,1,190,0,0,0
4,1588682360253739008,2022-11-04 23:59:25,Twitter for iPhone,0,1144336826133442560,"Tuned in to the local Seattle fake, corrupt, w...",0,1,0,0,...,3,0,greg vanommeren @GregVanommeren,0,0,1,521,0,0,0

In [3]:
data.shape

(7581710, 30)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7581710 entries, 0 to 7581709
Data columns (total 30 columns):
 #   Column                    Dtype
---  ------                    -----
 0   id                        int64
 1   created_at                datetime64[ns]
 2   source                    object
 3   possibly_sensitive        int64
 4   author_id                 int64
 5   text                      object
 6   person_annotations        int64
 7   place_annotations         int64
 8   product_annotations       int64
 9   organization_annotations  int64
 10  other_annotations         int64
 11  urls_count                int64
 12  url_image_count           int64
 13  mentions_count            int64
 14  mentions_verifications    int64
 15  mentions_followers        int64
 16  hashtags                  int64
 17  cashtags                  int64
 18  retweet_count             int64
 19  reply_count               int64
 20  like_count                int64
 21  quote_count               int64
 22  author_name               object
 23  verified                  int64
 24  protected                 int64
 25  profile_image_url         int64
 26  author_followers_count    int64
 27  animated_gif_count        int64
 28  photo_count               int64
 29  video_count               int64
dtypes: datetime64[ns](1), int64(26), object(3)
memory usage: 1.8+ GB